<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="description" content="My personal resume, hopefully you like it :)." />
<meta name="keywords" content="Erik Johnson Resume, Erik J resume, erikj54@gmail.com, @erikj54, erikj" />
<title>{{ page.title }}</title>
<link href="{{ page.style }}" rel="stylesheet" type="text/css" />
<link href='http://fonts.googleapis.com/css?family=Josefin+Sans&subset=latin' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Reenie+Beanie&subset=latin' rel='stylesheet' type='text/css'>
<script type="text/javascript" src="js/jquery.js"></script>
</head>

<body>

<div class="container">
	<div class="header">
		<h3>Erik Johnson's Resume</h3>
	</div>

	<div class="main-content">
	{{ content }}

	</div>
</div>
</body>
</html>
